<module href="src/modules/site.html">
  <module href="src/modules/navbar.html" locals='{"active":"maps"}'></module>

  <style>
    #mapTarget {
      width: 100%;
      height: 80vh;
      max-height: 100%;
      background-color: #f0f0f0;
    }
    .btn-full {
      width: 100%;
    }
  </style>

  <div class="container-fluid px-0 gx-0" x-data="maps">
    <div class="spinner-border text-primary" role="status" x-show="!loaded || refreshing">
      <span class="visually-hidden">Loading...</span>
    </div>

    <div class="row" x-show="loaded && !refreshing">
      <div :class="token ? 'col-6' : 'col-12'">
        <button class="btn btn-light btn-full" @click.prevent="getLocations">Refresh</button>
      </div>
      <div class="col-6" x-show="token">
        <button class="btn btn-light btn-full" data-bs-toggle="modal" data-bs-target="#addLocationModal">Add Location</button>
      </div>

      <!-- add location modal -->
      <div class="modal fade" id="addLocationModal" tabindex="-1" aria-labelledby="addLocationModalLabel" aria-hidden="true" x-ref="addLocationModal">
        <div class="modal-dialog" >
          <div class="modal-content">
            <form x-ref="addLocationForm">
              <div class="modal-header">
                <h5 class="modal-title" id="addLocationModalLabel">Add Location</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- Add location form -->
                  <div class="mb-3">
                    <label for="inputTitle" class="form-label">Title</label>
                    <input type="text" class="form-control" id="inputTitle" name="title">
                  </div>
                  <div class="mb-3">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" name="address">
                  </div>
                  <div class="mb-3">
                    <label for="inputURL" class="form-label">URL</label>
                    <input type="text" class="form-control" id="inputURL" name="url">
                  </div>
                  <div class="mb-3">
                    <label for="inputPrice" class="form-label">Monthly Cost</label>
                    <input type="text" class="form-control" id="inputPrice" name="price">
                  </div>
                  <div class="mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="inputPOI" name="poi">
                    <label class="form-check-label" for="inputPOI">
                      Point of Interest?
                    </label>
                  </div>
                  <div class="mb-3">
                    <label for="inputNotes" class="form-label">Notes</label>
                    <input type="text" class="form-control" id="inputNotes" name="notes">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click.prevent="addLocation">Save Location</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="mapTarget" x-ref="mapTarget"></div>
  </div>

  <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css" rel="stylesheet" />
  <script type="module" src="/js/maps.js"></script>
</module>
