<module href="src/modules/site.html">
  <module href="src/modules/navbar.html" locals='{"active":"maps"}'></module>

  <style>
    #mapTarget {
      width: 100%;
      height: 80vh;
      max-height: 100%;
      background-color: #f0f0f0;
    }
  </style>

  <div x-data="maps">
    <div x-text="!loaded ? 'LOADING...' : 'HEADER'"></div>
    <div x-ref="mapTarget" id="mapTarget"></div>
  </div>

  <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js"></script>
  <link
    href="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css"
    rel="stylesheet"
  />
  <script type="module" src="/js/maps.js"></script>
</module>
